@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
* {
  box-sizing: border-box;
  font-family: "kanit", sans-serif;
}

body {
  background-color: tomato;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
  margin: 0;
}

.appName {
  color: white;
  text-align: center;
}

.horizontal-Brands {
  width: 340px;
  height: auto;
  padding: 20px 15px;
  margin-top: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px #888888;
}

.horizontal-Brands li {
  display: inline-block;
}

.horizontal-Brands a {
  color: black;
  text-decoration: none;
  padding: 0px 24px;
  display: block;
}

.app-Ver {
  width: 340px;
  height: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;

  border-radius: 15px;
  background-color: white;
  box-shadow: 5px 5px #888888;
}

.app-Ver div {
  padding: 5px 0px;

}
